html, body {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* smoother rendering of fonts */
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  padding: 20px 70px 0 70px;
  color: #444;
  background: linear-gradient(165deg, rgba(255,255,255,0.03), rgba(184,201,229,0.25)),
  radial-gradient(farthest-corner at 75% 75%, rgba(238,184,189,0.25), rgba(255,255,255,0.25));
}


/*For large devices*/
@media screen and (min-width: 1100px){
body{
  padding: 20px 50px 0 50px;
}
  #menus{
    overflow-x:visible;
  }

  .close, .button__menus {
    display:none;
  }

  .overlay-content {
    display: inline-flex;
    width: 700px;
  }

}


.rectangle{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-gap:20px;
}


.overlay-content{
  position:relative;
  top: 20%;
  text-align:center;
  font-size: 14px;
}

.overlay a{
  padding: 6px;
  font-size: 16px;
  text-decoration:none!important;
  color: #444;
  transition:0.3s;
  margin: 0 26px;
}

.overlay a:hover, .overlay a:focus{
  color:#00cbfb;
}

.overlay .close{
  position:absolute;
  top:60px;
  right:25px;
  font-size:20px;
}

/*Main part*/

#menus{
  display: grid;
  grid-column: 2;
  grid-row: 1;
}


.overlay-link a{
  font-size: 15px;
  margin: 0 14px;
}

.content{
  display: grid;
  grid-column: 1;
  grid-row: 2;
  margin-top: 15%;
}

.content h1, .content p{
  margin: 10px 0;
}

.content p{
  font-size: 17px;
  line-height: 30px;
}

.content h1{
  font-size: 42px;
}

.content__button{
  background: linear-gradient(to right, rgb(249,149,194), rgb(232,133,173));
  border: 0;
  font-size: 18px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: 'Adamia', serif;
}

.rectangle__image{
  grid-column: 2;
  grid-row: 2;
  margin-top: 18%;
}
.rectangle__image img{
  width: 600px;
}

@media screen and (max-width: 1100px) {
  body{
    padding: 5px;
    background: #fff;
  }
  .center{
    background-color: #f995c2;
    z-index: 1;
    width: 100%;
    color: #444;
    position:fixed;
    margin-top: 10px;
    top:10px;
    left:50%;
    transform: translate(-50%, -50%);
  }
  .center ::after{
    content: 'MENU';
  }

  .button__menus{
    background-color: inherit;
    border:none;
    color: #444;
    padding:4px;
    padding-right:100px;
    text-align:center;
    text-decoration:none;
    text-transform: uppercase;
    letter-spacing:2px;
    font-size:26px;
    cursor:pointer;
    width: 50px;
  }

  a.overlay-link{
    display: block;
    font-size: 20px;
  }
  .rectangle{
    margin-top: 3px;
  }
  .overlay{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#f995c2;
    overflow-y:hidden;
    transition:0.6s;
  }

  .overlay a:hover, .overlay a:focus{
    color:#fff;
  }

  .content h1{
    font-size: 30px;
    line-height: 30px;
  }

  .content p{
    font-size: 19px;
    margin-right: 12px;
  }


  .container__article{
    font-size: 16px;
  }
  .rectangle{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 120px;
    text-align: center;
  }

  .content{
    grid-column: 1;
    grid-row: 2;
    align-items: center;
    margin-top: 0;
  }
  .rectangle__image{
    grid-column: 1;
    grid-row: 3;
    margin-top: 10px;
  }
  .rectangle__image img{
    margin-top: 20px;
    width: 60%;
  height: auto;
  }
}
